<div class="rounded-lg shadow bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700">

  <!-- Content -->
  <div class="p-5 border-b border-gray-200 dark:border-gray-600">
    <div class="flex justify-left items-center">
      <img class="mr-4 w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="profile picture">
      <div class="space-y-0.5 font-medium dark:text-white text-left">
          <div>{{ agent.name }}</div>
          <div class="text-sm font-light text-gray-500 dark:text-gray-400">{{ agent.position }}</div>
      </div>
    </div>
  </div>

  <!-- Actions -->
  <ul class="flex text-sm font-medium text-center text-gray-500 rounded-lg divide-x divide-gray-200 dark:divide-gray-600 dark:text-gray-400">
    <li class="w-full">
        <a href="tel:{{ agent.phone }}" class="inline-flex items-center justify-center text-center p-4 w-full bg-gray-50 hover:text-slate-900 hover:bg-gray-100 focus:outline-none dark:bg-gray-700 dark:hover:text-slate-300 dark:hover:bg-gray-600 rounded-bl-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="mr-1 -ml-1 w-5 h-5">
            <path fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 013.5 2h1.148a1.5 1.5 0 011.465 1.175l.716 3.223a1.5 1.5 0 01-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 006.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 011.767-1.052l3.223.716A1.5 1.5 0 0118 15.352V16.5a1.5 1.5 0 01-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 012.43 8.326 13.019 13.019 0 012 5V3.5z" clip-rule="evenodd" />
          </svg>
          Call
        </a>
    </li>
    <li class="w-full">
        <a href="mailto:{{ agent.email }}" class="inline-flex items-center justify-center text-center p-4 w-full bg-gray-50 hover:text-slate-900 hover:bg-gray-100 focus:outline-none dark:bg-gray-700 dark:hover:text-slate-300 dark:hover:bg-gray-600">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="mr-1 -ml-1 w-5 h-5">
            <path d="M3 4a2 2 0 00-2 2v1.161l8.441 4.221a1.25 1.25 0 001.118 0L19 7.162V6a2 2 0 00-2-2H3z" />
            <path d="M19 8.839l-7.77 3.885a2.75 2.75 0 01-2.46 0L1 8.839V14a2 2 0 002 2h14a2 2 0 002-2V8.839z" />
          </svg>
          Email
        </a>
    </li>
    <li class="w-full">
        <a href="sms:{{ agent.phone }}" class="inline-flex items-center justify-center text-center p-4 w-full bg-gray-50 hover:text-slate-900 hover:bg-gray-100 focus:outline-none dark:bg-gray-700 dark:hover:text-slate-300 dark:hover:bg-gray-600 rounded-br-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="mr-1 -ml-1 w-5 h-5">
            <path fill-rule="evenodd" d="M10 2c-2.236 0-4.43.18-6.57.524C1.993 2.755 1 4.014 1 5.426v5.148c0 1.413.993 2.67 2.43 2.902.848.137 1.705.248 2.57.331v3.443a.75.75 0 001.28.53l3.58-3.579a.78.78 0 01.527-.224 41.202 41.202 0 005.183-.5c1.437-.232 2.43-1.49 2.43-2.903V5.426c0-1.413-.993-2.67-2.43-2.902A41.289 41.289 0 0010 2zm0 7a1 1 0 100-2 1 1 0 000 2zM8 8a1 1 0 11-2 0 1 1 0 012 0zm5 1a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
          </svg>
          Text
        </a>
    </li>
  </ul>

</div>
