<div class="relative shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
      Free Agents
      <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
        Browse the list of local hockey player free agents available to play in the Ottawa National Capital Region.
      </p>
    </caption>
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="py-3 px-6">
          Name
        </th>
        <th scope="col" class="py-3 px-6">
          Type
        </th>
        <th scope="col" class="py-3 px-6">
          Locale
        </th>
        <th scope="col" class="py-3 px-6">
          Position
        </th>
        <th scope="col" class="py-3 px-6">
          Availability
        </th>
        <th scope="col" class="py-3 px-6">
          Skill Level
        </th>
        <th scope="col" class="py-3 px-6">
          Minimum Notice
        </th>
        <th scope="col" class="py-3 px-6">
          Source
        </th>
        <th scope="col" class="py-3 px-6">
          Contact
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let item of items">
        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          {{ item.name }}
        </th>
        <td class="py-4 px-6">
          {{ item.type }}
        </td>
        <td class="py-4 px-6">
          {{ item.locale }}
        </td>
        <td class="py-4 px-6">
          {{ item.position }}
        </td>
        <td class="py-4 px-6">
          {{ item.availability }}
        </td>
        <td class="py-4 px-6">
          {{ item.skill_level }}
        </td>
        <td class="py-4 px-6">
          {{ item.minimum_notice }}
        </td>
        <td class="py-4 px-6">
          {{ item.source }}
        </td>
        <td class="py-4 px-6">
          <a href="mailto:{{ item.email }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Email</a>
          &nbsp;
          <a href="tel:{{ item.phone }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Phone</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
